body{
    background-color: hsl(0, 0%, 0%);
    text-align: center;
    color: hsl(0, 0%, 100%);
 
    
  
}

h1{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



.container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: hsl(0, 0%, 0%);
  
}
.child{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 9px;
   width: 300px;
   height: 500px;
   background-color: hsl(0, 0%, 10%) ;
    
}


.place{
    color: hsl(75, 94%, 57%);
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.social-link{
    width: 250px;
    height: 30px;
    border: none;
    background-color: hsl(0, 0%, 20%);
    border-radius: 6px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.social-link:hover{
    background-color: hsl(75, 94%, 57%);

}

.social-link a{
    text-decoration: none;
    color: aliceblue;
    font-size: 14px;
   
}
 

img{
width: 90px;
height: 90px;
border-radius: 50%;
top: 50%;
margin-top: 1%;

}

p{
    font-size: 14px;
}


@media(min-width: 375px) and (max-width: 1440px){
    body{
        width: 100%;

    }
}


@media(min-width: 1440px){
    body{
width: 100%;
    }
}